<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Project</title>
</head>
<body>
    <h1>Welcome to Text Analyzer. Enter your text below:</h1>
    <form action="/analyze" method="get">
        <textarea name="text" style="margin: 10px; width: 300px; height: 100px;" placeholder="Enter your text here...">
        </textarea>
        <br>
        <input type="checkbox" name="removepunc"> Remove Punctuation
        <br>
        <button type="submit">
            Analyze Text
        </button>
    </form>
</body>
</html>